<h2>
    Main Content
</h2>

<app-position-form
    [position]="position"
    (positionSaved)="handlePositionSaved($event)"
>
</app-position-form>

<app-notification-modal
    [isDisplay]="isDisplay"
></app-notification-modal>

<div *ngIf="positions.length == 0">
    <hr>
        No items found
    <hr>
</div>

<position-display
    *ngFor="let position of positions"
    [id]="position.id"
    [name]="position.name"
    [categoryId]="position.categoryId"
    [description]="position.description"
    (deleteEvent)="handleDelete($event)"
>
</position-display>

<hr>
<button
    class="btn btn-primary w-100"
    (click)="toggle()"
>
    Toggle Modal
</button>
<hr>
<button
    class="btn btn-danger w-100"
    (click)="handleDeleteClicked()"
    *ngIf="positions.length > 0"
>
    Delete Item
</button>