<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label class="label">
                        Name
                    </label>
                    <input
                        class="form-control"
                        [(ngModel)]="position.name"
                    />
                </div>
                <div class="form-group mt-4">
                    <label class="label">
                        Description
                    </label>
                    <input
                        class="form-control"
                        [(ngModel)]="position.description"
                    />
                </div>
                <div class="form-group mt-4">
                    <label class="label">
                        Category
                    </label>
                    <select [(ngModel)]="position.categoryId" class="form-control">
                        <option *ngFor="let category of categories" ngValue="{{category.id}}">
                            {{category.name}}
                        </option>
                    </select>
                </div>
                <hr/>
                <button
                    class="btn btn-primary w-100"
                    (click)="handleSave()"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</div>